body{
    margin: 100px;
    background-image :url(download.webp)
}
.container{
    color: aliceblue;
    align-items: center;
    text-align: center;
    height: 450px;
    width: 350px;
    padding: 20px;
    background: rgb(24, 24, 24);
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}
.write{
    display:flex;
    justify-content: space-between;
    padding: 10px;
    gap: 10px;

}

input{
    flex: 1;
    padding: 6px;
    border-radius: 10px;
    background-color: lightblue;
   
    outline:none;


}
button{
   background-color: rgb(14, 128, 165);
   border-radius: 10px;
   padding: 5px;
   padding-left: 10px;
   padding-right: 10px;
   border: none;
   cursor: pointer;
}
button:hover{
    background-color: lightseagreen;
    transition: 0ms;

}
button:active{
    background-color:  lightseagreen;
}
ul{
 list-style: none;
 padding: 0px;
 cursor: pointer;
    
}
li {
    list-style: none;
    position: relative;
    padding: 12px 8px 12px 40px;
    cursor: pointer;
}

li::before {
    content: "";
    position: absolute;
    left: 10px;
    top: 12px;
    width: 18px;
    height: 18px;
    border: 2px solid #555;
    border-radius: 50%;
}

li.checked::before {
    background-color: #4CAF50;
    border-color: #4CAF50;
}

li.checked {
    text-decoration: line-through;
    color: gray;
}

li span {
    position: absolute;
    right: 10px;
    cursor: pointer;
}

li{
   
    margin-top: 12px;
}

 

ul li span {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: red;
    cursor: pointer;
}

ul li span:hover{
    background-color:lightsalmon;
border-radius: 50px;
}


    

